{:deps {}
 :paths ["src/main/clojure"]
 
   :aliases
   {:test
     {:extra-paths ["src/test/clojure"]
	  :extra-deps {io.github.dmiller/test-runner {:git/tag "v0.5.2clr" :git/sha "d6793a2"}}
	  ;; :main-opts {"-m" "cognitect.test-runner" "-d" "src/test/clojure"}
	  :exec-fn cognitect.test-runner.api/test
	  :exec-args {:dirs ["src/test/clojure"]}}}
 }